.pension_box{
    position: relative;
    width: 300px;
    height: 180px;
    background-color: rgba(105, 195, 210, 0.901);
    border-radius: 7px;
    /* padding: 2rem; */
}
.pension_box:hover span{
    background-color: white;
}
.pension_box h2,
.pension_box span {
    margin-left: 3rem;
}

.pension_box h2{
    margin-top: 3rem;
    position: absolute;
}

.pension_box span {
    padding: 0.7rem;
    border-radius: 40px;
    margin-top: 12rem;
    background-color: aquamarine;
    position: absolute;
}

.pension_box img {
    bottom: 0;
    right: 0;
    position: absolute;
}
.sns_box {
    width: 300px;
    height: 180px;
    background-color: white;
    border-radius: 7px;
}
.sns_box {
    
}