.section4-container {
    display: flex;
}
.tab-menu {
    padding: 10px;
}

.tab-menu span {
    font-weight: bolder;
    font-size: 2.3rem;
    padding: 9px;
    margin-left: 1px;
}
.prev-btn, .next-btn {
    display: inline-block;
    padding: 6px 10px;
    margin: 2px;
    color: gray;
    text-decoration: none;
    border: 0.5px solid gray;
    border-radius: 50%;
    cursor: pointer;
}
.prev-btn {
    margin-left: 150px;
}

.prev-btn:hover, .next-btn:hover {
    background-color: rgb(255, 88, 88);
    border: 0.5px solid white;
    color: white;
}

.service-item {
    width: 33%;
    text-align: center;
    padding: 30px;
    transition: transform 0.5s ease; /* 슬라이딩 효과를 위한 transition 속성 추가 */
}

.services {
    width: 600px;
    height: 200px;
    border-radius: 10px;
    background-color: rgba(255, 192, 203, 0.22);
    display: flex;
    overflow: hidden;
}

.service-item.hidden {
    transform: translateX(100%); /* 숨겨진 아이콘은 오른쪽으로 이동 */
}

.service-item:not(:nth-child(-n+3)) {
    display: none;
}

.service-item .icon {
    display: block;
    width: 9.3rem;
    height: 9.3rem;
    background: linear-gradient(141deg, #fff 0%, #fff 100%);
    border-radius: 50%;
    margin: 0 auto 1.5rem;
    position: relative;
    overflow: hidden;
}
.service-item .icon::before{
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 5rem;
    height: 5rem;
    background-image: url(/team_project/src/images/r_icon.png);
    background-size: 40rem 15rem;
    background-repeat: no-repeat;
    z-index: 1;
}
.service-item .icon:hover::after {
    /* background: linear-gradient(141deg, #FF0000 0%, #00FFFF 100%); */
    width: 200px;
    height: 200px;
    opacity: 1;
}
.service-item .icon::after {
    content: '';
    display: block;
    background: linear-gradient(10deg, #E82856 0%, #B867FF 100%);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    overflow: hidden;
    width: 0;
    height: 0;
    opacity: 0;
    transition: .2s ease;
}

#icon1 {
    background-position: 0 0;
}

#icon2::before {
    background-position: -5rem 0;
}

#icon3::before {
    background-position: -5rem -5rem;
}

#icon4 {
    background-position: -10rem 0;
}

#icon5 {
    background-position: -10rem -5rem;
}

#icon6 {
    background-position: -15rem 0;
}

#icon7 {
    background-position: -15rem -5rem;
}

#icon8 {
    background-position: -20rem 0;
}



.nav-button {
    background-color: #fff;
    border: none;
    font-size: 20px;
    cursor: pointer;
    outline: none;
    margin-top: 20px;
}


.pension_box{
    margin-top: 55px;
    margin-left: 50px;
    position: relative;
    width: 380px;
    height: 200px;
    background-color: rgba(105, 195, 210, 0.901);
    border-radius: 7px;
    /* padding: 2rem; */
}
.pension_box:hover span{
    background-color: white;
}
.pension_box h2,
.pension_box span {
    margin-left: 3rem;
}

.pension_box h2{
    margin-top: 3rem;
    position: absolute;
}

.pension_box span {
    padding: 0.7rem;
    border-radius: 40px;
    margin-top: 12rem;
    background-color: rgba(47, 92, 77, 0.188);
    position: absolute;
}

.pension_box img {
    bottom: 0;
    right: 0;
    position: absolute;
}
.sns_box {
    margin-left: 3rem;
    /* padding: 10px; */
    padding-left: 25px;
    width: 300px;
    height: 180px;
    background-color: white;
    border: 0.1rem solid rgba(128, 128, 128, 0.186);
    border-radius: 7px;
}
.sns_box h2 {
    margin-bottom: 35px;
}
.sns_box span:nth-child(1) {
    color: red;
}
.sns_box a {
    display: inline-block;
    position: relative;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.icon-naver {
    background-color: rgb(0, 214, 0, 0.854 );
    border: 0.1rem solid rgb(0, 214, 0, 0.854);
}
.icon-naver:hover {
    background-color: white;
}
.icon-naver:hover i {
    color:rgb(0, 214, 0);
}
.icon-instagram {
    background-color: rgba(217, 0, 255, 0.854);
    border: 0.1rem solid rgb(217, 0, 255, 0.854);
}
.icon-instagram:hover {
    background-color: white;
}
.icon-instagram:hover i {
    color: rgb(217, 0, 255);
}
.icon-facebook {
    background-color: rgb(44, 61, 255, 0.854);
    border: 0.1rem solid rgb(44, 61, 255, 0.854);
}
.icon-facebook:hover {
    background-color: white;
}
.icon-facebook:hover i {
    color: rgb(44, 61, 255);
}
.icon-youtube {
    background-color: rgba(255, 0, 0, 0.846);
    border: 0.1rem solid rgba(255, 0, 0, 0.846);
}
.icon-youtube:hover {
    background-color: white;
}
.icon-youtube:hover i {
    color: red;
}
.icon-x {
    background-color: rgb(95, 210, 255);
    border: 0.1rem solid rgb(95, 210, 255);
}
.icon-x:hover {
    background-color: white;
}
.icon-x:hover i {
    color: skyblue;
}

i {
    color: white;
    font-size: 2.6rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

