#section3 {
    width: 100%;
    background-color: white;
    
}
.flex_box{
    display: flex;
    justify-content: space-between;
    
    /* align-items: center; */
}
.section3_container {
    display: flex;
}
.section3_h2, .section3_h3 {
    font-size: 0px;
}

.video_news, .card_news {
    display: flex;
}

.card_news {
    display: none;
}

.news_box dl dd a img{
    padding: 10px;
    border-radius: 20px;
    width: 300px;
    height: 170px;
    object-fit: cover;
}

.news_box p {
    font-size: 1.15rem;
    padding: 10px;
    width: 300px;
    height: 30px;
}

.news_box dt {
    font-size: 0.8rem;
    padding: 10px;
    width: 300px;
    height: 10px;
}

.section3_h2 button {
    margin-top: 30px;
    padding: 10px;
    font-size: 1.7rem;
    font-weight: bold;
    border: 0px;
    background-color: rgba(255, 255, 255, 0);
}
.section3_h2 button:hover {
    text-decoration: underline;
    cursor: pointer;
}
.favorites_box {
    width: 50%;
}
.favorites_box h2 {
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 0;
    padding: 20px;
    padding-bottom: 0;
    /* margin: 0 auto; */
    font-size: 1.7rem;
}
.menu-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}
.menu-item {
    position: relative;
    width: 300px;
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 7px;
    border: 0.8px solid rgba(128, 128, 128, 0.267);
    padding: 10px;
    text-decoration: none;
    color: #333;
    overflow: hidden;
    z-index: 0;
}
.menu-item::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: linear-gradient(134deg, #E82856 0%, #B867FF 100%);
    opacity: 0;
    transition: width 0.3s ease, opacity 0.3s ease;
    z-index: -1;
}
.menu-item:hover::before {
    width: 100%;
    opacity: 1;
}
.menu-item:hover {
    color: white;
}
.menu-item span i {
    color: black;
    font-size: larger;
    margin-left: 130px;
    position: absolute;
}
.menu-item span.icon {
    display: inline-block;
    width: 2.4rem;
    height: 2.4rem;
    margin-right: 15px;
    background-image: url('/team_project/src/images/quick.png');
    /* background-size: cover; */
}
.menu-item span.text {
    transition: color 0.3s ease;
}
.menu-item:hover span.text {
    color: white;
}

.icon-law {
    background-position: 0 0;
}
.icon-institute {
    background-position: -2.4rem 0;
}
.icon-research {
    background-position: 0 -2.4rem;
}
.icon-organization {
    background-position: -2.4rem -2.4rem;
}
.icon-application {
    background-position: 0 -4.8rem;
}
.icon-check {
    background-position: -2.4rem -4.8rem;
}
.icon-data {
    background-position: 0 -7.2rem;
}
.icon-contact {
    background-position: -2.4rem -7.2rem;
}