.header {
    background-color: rgba(146, 38, 255, 0.629);
}
.header ul {
    display: flex;
    flex-flow: row no-weap;
    justify-content: space-around;
    height: 40px;
    line-height: 40px;
}
.header ul li {
    list-style: none;
}
.header ul li a{
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
}