body, img, ul, li, ol, dl, dd, dt, table, div, h1, h2, h3, h4, h5, h6, span, a{
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 15px;
    font-weight: normal;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    background-color: #393E46;
    color: #ffffff;
    padding: 10px 0;
}

.headder_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headder_top ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px;
}

.header_top ul li {
    margin: 0;
}



.header_bottom {
    height: 100px;
    display: flex;
    justify-content: flex-end;
}

.header_bottom dl {
    align-items: center;
    font-size: 10px;
    gap: 10px;
}
.header_bottom dl dd {
    padding: 10px;
    align-items: center;
}
.main h1 {
    color: #00ADB5;
}

/* --------------------------header end------------------------- */

.main {
    background-color: #EEEEEE;
    /* padding: 20px; */
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main h2 {
    color: #00ADB5;
}

section {
    margin-bottom: 20px;
}

.search-box {
    display: flex;
    gap: 10px;
}

.search-box input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-box button {
    padding: 10px 20px;
    border: none;
    background-color: #00ADB5;
    color: #ffffff;
    cursor: pointer;
    border-radius: 4px;
}


ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.result {
    display: none; 
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    border-radius: 4px;
}

.title {
    color: #393E46;
    margin-bottom: 10px;
}

.sp1 {
    font-size: large;
    /* background-color: yellow; */
    color:rgb(159, 188, 172)
}

.sp2 {
    font-size: large;
}

.bmi2 {
    border-radius: 10px;
    padding: 3px;
    color: #ffffff;
    background-color: rgb(88, 243, 57);
}

.bmi3{
    border-radius: 10px;
    padding: 3px;
    color: #f4fc00;
    background-color: rgba(255, 0, 0, 0.307);
}

.user-info {
    width: 50%;
    position: relative;
}

.img2 {
    position: absolute;
    margin-right: 5px;
    right: 0;
    top: 0;
    width: 130px;
    height: 225px;
    float: right;
}

.result table {
    width: 100%;
    border-collapse: collapse;
}
.result table th, .result table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}
.pagination {
    display: flex;
    gap: 5px;
    margin-top: 20px;
}
.pagination button {
    padding: 5px 10px;
    background-color: #00ADB5;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.pagination button.disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
.addbutton {
    padding: 5px 10px;
    border: none;
    background-color: #00ADB5;
    color: #ffffff;
    cursor: pointer;
    border-radius: 4px;
}
#resetCalories {
    padding: 5px 10px;
    border: none;
    background-color: #00ADB5;
    color: #ffffff;
    cursor: pointer;
    border-radius: 4px;
}
/* --------------------------걸음수 가져오기------------------------- */
.walking {
    width: 50%;
    display: flex;
    justify-content: center;
}
.walking-chat {
    text-align: center;
    position: relative;
    width: 280px;
    height: 280px;
    border-radius: 50%;
    transition: 0.3s;
    /* left: 40%; */
    /* background: conic-gradient(green 10deg, red 10deg 100deg ); */
    background-color: #222831;
    /* transform: translateX(-40); */
}
.center {
    position: absolute;
    width: 210px;
    height: 210px;
    border-radius: 50%;
    transition: 0.3s;
    background-color: #00ADB5;
    /* align-items: center; */
    /* display: flex; */
    line-height: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.walk-info {
    background-color: wheat;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    top: 1000px;
    text-align: center;
    color: red;
}
.walking-counter {
    /* padding: 30px;
    margin: 50px; */
    color: black;
    /* color: #00ADB5; */
    justify-content: center;
}

#recipe-detail {
    position: absolute;
    height: 65%;
    width: 47%;
    top: 80%;
    left: 25%;
    background-color: beige;
    /* border: 1px solid red; */
    z-index: 1000;
    border-radius: 30px;
    padding: 30px;
    display: none;
}


.recipe-list-container {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
    margin-bottom: 20px;
}
.recipe-item {
    width: 270px;
    height: 200px;
    display: inline-block;
    text-align: center;
    margin-right: 10px;
}
.recipe-item div {
    margin-top: 15px;
}
.recipe-item img {
    width: 150px;
    height: 150px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}
.mainimg {
    width: 100px;
    height: 80px;
}
.slides-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.slide {
    min-width: 100%;
    text-align: center;
}
.slide img {
    width: 180px;
    height: 150px;
}
.navigation {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    width: 100%;
}
.navigation button {
    color: white;
    background-color: #00ADB5;
    border-radius: 4px;
    padding: 8px;
    border: none;
    cursor: pointer;
}
#back-button {
    color: white;
    background-color: #00ADB5;
    border-radius: 4px;
    width: 60%;
    padding: 5px;
    border: none;
    cursor: pointer;
}
.backBtn {
    padding: 30px;
    margin-bottom: 100px;
    text-align: center;
}
.back-button {
    position: absolute;
    font-size: 19px;
    width: 50px;
    height: 50px;
    background-color: #00ADB5;
    border-radius: 100%;
    flex-direction: row;
    padding: 10px;
    top: 0px;
    left: 0px;
}
.recipe-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 999;
}


.menu-icon {
    font-size: 24px;
    cursor: pointer;
}

.menu-tab {
    position: absolute;
    top: 60px;
    right: 0;
    width: 200px;
    background-color: #ddd;
    border: 1px solid #222831;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 1000;
}

.menu-tab ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-tab ul li {
    padding: 10px;
    border-bottom: 3px solid #ddd;
}

.menu-tab ul li a {
    color: #000;
    text-decoration: none;
}

.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 999;
}

footer {
    background-color: #393E46;
    color: #ffffff;
    text-align: center;
    padding: 0.2px 0;
    position: fixed;
    width: 100%;
    height: 5%;
    bottom: 0;
    z-index: 10000;
}
.section-main {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
/* --------------------------footer end------------------------- */
@media screen and (max-width: 760px){
    #nutritionTable {
        font-size: 13px;
    }
    #nutritionTable tr th:nth-child(5) {
        display: none;
    }
    #nutritionTable tr th:nth-child(6) {
        display: none;
    }
    .td5 {
        display: none;
    }
    .td6 {
        display: none;
    }
    .section-main {
        display: contents;
        /* flex-wrap: nowrap; */
    }
    .user-info {
        width: 100%;
    }
    .walking {
        width: 100%;
    }
    

}
@media (max-width: 600px) {
    .container {
        width: 400px;
        padding: 10px;
    }
    .recipe-item {
        font-size: 0.8rem;
        width: 170px;
        height: 170px;
        margin-bottom: 50px;
    }
    .recipe-item img {
        width: 110px;
        height: 110px;
    }
    #recipe-detail {
        position: absolute;
        height: 35%;
        width: 50%;
        top: 65%;
        left: 21%;
        background-color: #f4f4f4;
        border: 1px solid #00ADB5;
        border-radius: 20px;
        padding: 15px;
        margin-bottom: 1000px;
        display: none;
    }
    #prev,#next {
        font-size: 12px;
        width: 40px;
        height: 30px;
    }
}
@media (max-width: 500px) {
    #nutritionTable {
        font-size: 10px;
    }
    .addbutton {
        padding: 5px 10px;
        font-size: 10px;
    }

}
@media (max-width: 450px) {
    .menu-tab {
        width: 100%;
    }
    .addbutton {
        padding: 0.185rem;
        font-size: 0.3rem;
    }
    
}